{% sw_extends '@Storefront/storefront/component/product/card/badges.html.twig' %}

{% block component_product_badges_new %}
    {{ parent() }}
    {% if product.shippingFree %}
        <div>
            <span class="badge badge-info badge-free-shipping">{{ "od.badges.free-shipping"|trans|sw_sanitize }}</span>
        </div>
    {% endif %}
{% endblock %}